*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Rubik", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  padding-inline: 24px;
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container.dark {
  background-color: #313e51;
}

@media (width > 769px) {
  .container {
    padding-inline: 64px;
  }
}

@media (width > 1024px) {
  .container {
    padding-inline: 140px;

    .generalBody {
      display: flex;
      align-items: start;
      gap: 130px;

      .heroContainer {
        width: 100%;
      }

      .card {
        width: 100%;
      }
    }
  }
}
